import(jaspBase)
export(Anova)
export(AnovaRepeatedMeasures)
export(Ancova)
export(RegressionLinear)
export(AnovaInternal)
export(AncovaInternal)
export(AnovaRepeatedMeasuresInternal)
export(RegressionLinearInternal)