import(jaspBase)
export(AnovaRobust)
export(AnovaRepeatedMeasuresRobust)
export(AncovaRobust)
export(RegressionLinearRobust)
export(CorrelationRobust)
export(AnovaInternal)
export(AnovaRobustInternal)
export(AncovaInternal)
export(AncovaRobustInternal)
export(AnovaRepeatedMeasuresInternal)
export(AnovaRepeatedMeasuresRobustInternal)
export(RegressionLinearInternal)
export(RegressionLinearRobustInternal)
export(CorrelationRobustInternal)